<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">
    <link rel="stylesheet" href="{{asset 'css/error.css'}}">
    <link rel="stylesheet" href="{{asset 'css/home/cta.css'}}">
    <meta http-equiv="cleartype" content="on">

    <title>Error {{statusCode}}</title>
</head>

<body>

    <main class="dark-mode">
        <div class="bg-animation">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
        </div>
        <div class="error">
            <img class="site-icon" src="{{asset 'images/site-icon-template.png'}}" alt="{{@site.title}}" />
            <p class="code">{{statusCode}}</p>
            <p class="message">{{message}}</p>

            <button class="landing-cta" onclick="window.location.href = '/'">
                Back to Home
            </button>
        </div>
    </main>
</body>

</html>